@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1640765394892') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e69b";
}

.icon-kehuguanli:before {
  content: "\e6fe";
}

.icon-baoxiuguanli:before {
  content: "\e6ff";
}

.icon-zhishikuguanli:before {
  content: "\e700";
}

.icon-jichuguanli:before {
  content: "\e701";
}

.icon-shebeiguanli:before {
  content: "\e702";
}

.icon-riqi:before {
  content: "\e703";
}

.icon-shouqi:before {
  content: "\e704";
}

.icon-zhankai:before {
  content: "\e705";
}

.icon-daohangzhankai:before {
  content: "\e706";
}

.icon-daohangshouqi:before {
  content: "\e707";
}

